.tab-item {
  border: none;
  background-color: transparent;
  color: #0f172a;
  cursor: pointer;
  outline: none;
  padding: 0px;
}
.blue {
  color: #0284c7;
  border: 2px solid #0284c7;
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
}
.tab-text {
  font-size: 10px;
  margin: 0px;
}
@media screen and (min-width: 768px) {
  .tab-text {
    font-size: 20px;
  }
}
